<!DOCTYPE html>
<html>
<head>
    <title>Recherche sémantique dans le corpus rap</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table.data {
            width: 80%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table.data th, table.data td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        table.data th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>DataFrame Display</h1>
    
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
</body>
</html>

